.main-footer{
    color:white;
    background-color: #70aca8;
    font-size: 18pt;
    font-weight: 400;
    position: absolute;
    bottom:0;
    height: 70pt;
    width: 100%;
}

.col1{
    float:left;
    width: 33.33%;
    padding: 10px;
}

.col2{
    margin-left: 20%;
    float:right;
    width: 33.33%;
    padding: 10px;
}

.col3{
    float:right;
    width: 33.33%;
    padding: 10px;
}

.tulisan-kecil{
    position: absolute;
    margin-left: 175px;
    margin-top: 26px;
}

.logo-kecil{
    position: absolute;
    margin-left: 400px;
    margin-top: 15px;
}

.row{
    display: flex;
}