.HomeML{
    position: relative;
    background-image: url("../../assets/HomeML/HOME.png");
    background-position:center;
    background-size: cover;
    height:100%;
  }
 
  .warna-ml{
    position: relative;
    text-align: center;
    background: rgb(0,0,0);
    background: linear-gradient(261.91deg, rgba(19, 21, 32, 0.8) 44.16%, rgba(70, 162, 158, 0.3) 95.71%);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
  }

.tab1{
    height: 300px;
    width: 1400px;
    

}
.tab2{
    height: 500px;
    width: 1400px;
}
.row1{
    height: 70%;
}
.row2{
    height: 40%;
}
.tulisancol1{
    position: absolute;
    font-size:24pt;
    color:black;
    padding-bottom: 45px;
    font-weight: 800;
    left: 250px;
    top: 10px;

}
.tulisancol2{
    position: absolute;
    font-size:24pt;
    color:black;
    padding-bottom: 45px;
    font-weight: 800;
    left: 650px;
    top: 10px;

}
.tulisancol3{
    position: absolute;
    font-size:24pt;
    color:black;
    padding-bottom: 45px;
    font-weight: 800;
    left: 1100px;
    top: 10px;

}
.radio1{
    position: absolute;
    font-size: 10pt;
    display: grid;
    
    
}
.radio2{
    position: absolute;
    display: grid;
    font-size: 10pt;

}
.formulir1{
    font-size: 12pt;
    display: grid;
    
}
.tulisanr2{
    position: absolute;
    font-size:24pt;
    color:black;
    padding-bottom: 45px;
    font-weight: 800;
    left: 650px;
    bottom: 400px;

}